*{
    box-sizing: border-box;
}
:root {
    --main_bg : rgb(42, 187, 187);
    --title_color : rgb(48, 59, 59);
    --card_container : rgb(255, 255, 255, 0.95);
    --secondary_color: rgba(197, 90, 140, 0.664);
    --text_color: #555b61;
}
body {
    max-width: 100%;
    position: relative;
    font-size: 16px;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/23/96/93/1000_F_223969333_AyrxJgvF4fo7CzlUS4eALgp50kL6PvfQ.jpg);
    background-color: var(--main_bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text_color);
}
a{
    color: var(--text_color);
    transition: 0.3s ease;
}
a:hover {
    color: var(--title_color);
    transition: 0.3s ease;
}
a:visited{
    text-decoration:none;
    color: var(--text_color);
}
h1, h3, h4 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.meals_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    position: relative;
}
.meals_list .meals{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--card_container);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    min-width: 800px;
}
.meals_table{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--card_container);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.meals_table a {
    max-width: fit-content;
    text-decoration: none;
}
.meals_table h4{
    display: flex;
    align-items: center;
    gap: 10px;
}
.meals_table .v{
    border-radius: 10px;
    background-color: var(--main_bg);
    border-radius: 50%;
    font-size: 15px;
    width: 20px;
    height: 20px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.table_meal_title{
    border-bottom: 2px solid var(--main_bg);
    color: var(--title_color);
}
.meals_list .meals .ingredients{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    
}
.meals_list .meals .img{
    width: 250px;
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}
.meals_list .meals .ingredients .ingredients_title{
    flex: 0 0 100%;
    margin-bottom: -10px;
}
.meals_list .meals .ingredients ul{
    flex: 1 1 calc(50% - 15px);
}
.meals_list .meals .preparation{
    margin-top: 30px;
    margin-bottom: 45px;
}
.meals_list .meals .preparation ol{
    margin-top: 20px;
}
.meals_list .title{
    color: var(--title_color);
}
.title, .meals_infos{
    text-align:center;
    font-weight: bold;
}
.vege, .table_title{
    display: block;
    padding: 5px 20px;
    background-color: var(--main_bg);
    margin-bottom: 20px;
    color: white;
}
.vege{
    text-align:center;
    margin: 0 auto;
    margin-top: -20px;
}
.search_bar{
    background-color: var(--card_container);
    padding: 5vw;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 50px auto;
    max-width: 800px;
    min-width: 800px;
}
.search-input{
    max-width: 500px;
    height: 50px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid grey;
}
.search-input:focus{
    outline: 2px solid transparent;
}
.search{
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--main_bg);
    border: 2px solid white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: white;
    font-weight: bold;
}
.author{
    font-weight: bold;
    font-style: italic;
    text-align:center;
    text-decoration:dashed;
    color: var(--secondary_color);
}

@media only screen and (max-width: 900px){
    .meals_table, .meals_list .meals, .search_bar {
        min-width: 100%;
    }
}