*{
    box-sizing: border-box;
}
:root {
    --main_bg : rgba(137, 196, 244);
    --card_container : rgb(255, 255, 255, 0.95);
}
body {
    max-width: 100%;
    position: relative;
    font-size: 16px;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/23/96/93/1000_F_223969333_AyrxJgvF4fo7CzlUS4eALgp50kL6PvfQ.jpg);
    background-color: var(--main_bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
h1, h3, h4 {
    margin: 0;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-position: inside;
}
.meals_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    position: relative;
}
.meals_list .meals{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--card_container);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
}
.meals_list .meals .ingredients{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    margin-top: 30px;
    
}
.meals_list .meals .img{
    width: 250px;
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}
.meals_list .meals .ingredients .ingredients_title{
    flex: 0 0 100%;
    margin-bottom: -10px;
}
.meals_list .meals .ingredients ul{
    flex: 1 1 calc(50% - 15px);
}
.meals_list .meals .preparation{
    margin-top: 30px;
    margin-bottom: 45px;
}
.meals_list .meals .preparation ol{
    margin-top: 20px;
}
.title, .meals_infos{
    text-align:center;
}
.vege{
    text-align:center;
    margin: 0 auto;
    display: block;
    padding: 5px 20px;
    background-color: var(--main_bg);
    margin-top: -20px;
    margin-bottom: 20px;
}
.search_bar{
    background-color: white;
    padding: 5vw;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
    margin: 50px auto;
    max-width: 800px;
}
.search-input{
    max-width: 500px;
    height: 50px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid grey;
}
.search-input:focus{
    outline: 2px solid transparent;
}
.search{
    padding: 15px 15px;
    border-radius: 10px;
    font-size: 15px;
    background-color: var(--main_bg);
    border: 2px solid white;
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: white;
    font-weight: bold;
}