*{
    box-sizing: border-box;
}
:root {
    --main_bg : rgb(105, 184, 184);
    --title_color : rgb(48, 59, 59);
    --card_container : rgb(255, 255, 255, 0.95);
    --secondary_color: rgba(197, 90, 140, 0.664);
    --text_color: #555b61;
    --maxis9_main_bg : rgb(36, 36, 36);
    --maxis9_title_color : rgb(185, 41, 41);
    --maxis9_card_container : rgb(36, 36, 36, 0.95);
    --maxis9_secondary_color: rgba(255, 149, 149, 0.664);
    --maxis9_text_color: #c7c7c7;
}
body {
    max-width: 100%;
    position: relative;
    font-size: 16px;
    background-image: url(https://as2.ftcdn.net/v2/jpg/02/23/96/93/1000_F_223969333_AyrxJgvF4fo7CzlUS4eALgp50kL6PvfQ.jpg);
    background-color: var(--main_bg);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 2;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: var(--text_color);
}
body.maxis9{
    color: var(--maxis9_text_color);
    background-image: url(https://images.unsplash.com/photo-1581927692308-be9e43b4d860?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80);
}
a{
    color: var(--text_color);
    transition: 0.3s ease;
}
a:hover {
    color: var(--secondary_color);
    transition: 0.3s ease;
}
a:visited{
    text-decoration:none;
}
h1, h3, h4 {
    margin: 0;
}
h1, h3, h4:not(a h4) {
    color: var(--title_color);
}
h1{
    line-height: 1.6;
}
.blog_title{
    text-align:center;
}
ul, ol {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
}
ul{
    gap: 5px;
}
ol li:first-child{
    margin-top: 10px;
}
ol h4:not(ol + h4){
    margin-top: 20px;
}
li{
    display: flex;
    align-items: flex-start;
}
li label input{
    display: none;
}
label{
    cursor:pointer;
}
li label input:checked + .element{
    text-decoration: line-through;
}
li label input:checked + .element .checkbox{
    background-color: var(--main_bg);
}
li .step_number{
    font-weight: bold;
    padding-right: 5px;
}
li label input:checked + .element .checkbox::before{
    content: "✔";
    font-size: 12px;
    color: white;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    align-items: center;
    justify-content: center;
}
li label input + .element .checkbox{
    max-width: 17px;
    max-height: 17px;
    min-width: 17px;
    min-height: 17px;
    display:inline-block;
    border: 2px solid var(--main_bg);
    border-radius: 3px;
    position: relative;
    margin-right: 10px;
    margin-top: 10px;
}
.header{
    width: 100%;
    align-items: center;
    text-align:center;
}
.books{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
    width: 100%;
}
.book, .reset-book {
    background-color: var(--secondary_color);
    color: var(--card_container);
    transition: 0.3s ease;
    padding: 15px;
    border-radius: 5px;
    cursor: pointer;
    flex: 1 1 0;
    line-height: 1.3;
    text-align:center;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.book.active::before, .reset-book.active::before{
    position:relative;
    content: "★";
    display:flex;
}
.book:hover, .reset-book:hover,
.book.active, .reset-book.active{
    transition: 0.3s ease;
    background-color: var(--main_bg);
}
.book.maximes-bar{
    flex: 1 1 100%;
    padding: 15px;
    background-color: var(--maxis9_main_bg);
    color: var(--maxis9_title_color);
    text-decoration: none;
}
.book.maximes-bar:hover{
    text-transform: uppercase;
}
.meals_list {
    display: flex;
    flex-direction: column;
    gap: 30px;
    max-width: 100%;
    position: relative;
}
.meals_list .meals{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--card_container);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    min-width: 800px;
    display: none;
}
.meals.in_book{
    display: block;
}
.meals_table{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--card_container);
    padding: 30px;
    max-width: 800px;
    margin: 0 auto;
    margin-bottom: 50px;
    min-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    overflow: hidden;
    transition: 0.3s;
}
.meals_table.hidden{
    max-height: 122px;
    transition: 0.3s;
}
.meals_table.hidden .minus{
    display: none;
}
.meals_table.hidden .plus{
    display: block;
}
.icon {
    display: flex;
    gap: 10px;
}
.minus{
    display: block;
}
.plus{
    display: none;
}
.minus, .plus{
    padding: 0 5px;
    cursor: pointer;
}
.meals_table a {
    max-width: fit-content;
    text-decoration: none;
}
.meals_table h4{
    gap: 10px;
}
.meals_table .v{
    border-radius: 10px;
    background-color: var(--main_bg);
    border-radius: 50%;
    font-size: 15px;
    width: 20px;
    height: 20px;
    color: white;
    display: inline-block;
    margin-left: 5px;
    text-align: center;
    line-height: 16px;
}
.table_meal_title{
    border-bottom: 2px solid var(--main_bg);
    color: var(--title_color);
}
.img{
    width: 250px;
    height: 200px;
    position: relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto;
    margin-bottom: 10px;
}
.ingredients_wrapper{
    margin-top: 30px;
}
.ingredients{
    columns: 2;  
}
.ingredients .ingredients_title{
    flex: 0 0 100%;
    margin-bottom: -10px;
}
.ingredients ul{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
}
.ingredients ul h4{    
    margin-top: 10px;
}
.preparation{
    margin-top: 30px;
    margin-bottom: 45px;
}
.meals_list .title{
    color: var(--title_color);
}
.title, .meals_infos{
    text-align:center;
    font-weight: bold;
}
.vege, .table_title{
    display: block;
    padding: 5px 20px;
    background-color: var(--main_bg);
    margin-bottom: 20px;
    color: white;
}
.table_title{
    display: flex;
    justify-content: space-between;
}
.vege{
    text-align:center;
    margin: 0 auto;
    margin-top: -20px;
}
.search_bar{
    background-color: var(--card_container);
    padding: 5vw;
    margin: 0 auto;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 50px auto;
    gap: 25px;
    max-width: 800px;
    min-width: 800px;
}
.search-input{
    max-width: 500px;
    height: 50px;
    padding: 20px;
    font-size: 15px;
    border-radius: 10px 0 0 10px;
    border: 2px solid var(--text_color);
    outline: 0px solid transparent;
    position: relative;
    width: 100%;
}
.search-input:focus{
    border: 2px solid var(--main_bg);
    outline: 0px solid transparent;
}
.search{
    padding: 15px 15px;
    border-radius: 0 10px 10px 0;
    font-size: 15px;
    background-color: var(--main_bg);
    cursor: pointer;
    text-transform: uppercase;
    letter-spacing: 1.7px;
    color: white;
    font-weight: bold;
    border: 1px solid var(--main_bg);
}
.search_bar label{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}
.search_bar .description{
    margin-top: 15px;
}
.author{
    font-weight: bold;
    font-style: italic;
    text-align:center;
    text-decoration:dashed;
    color: var(--secondary_color);
}
.source{
    display: block;
    line-height: 1.1;
    font-size: 14px;
    font-weight: bold;
}
/* MAXIS9'S BAR */
.boxed{
    margin: 0 5vw;
    border-radius: 10px;
    background-color: var(--maxis9_card_container);
    padding: 30px;
    margin: 0 auto;
    width: 100%;
}
.wrapper{
    max-width: 800px;
}
.maxis9 h2, .maxis9 h3{
    color: var(--maxis9_title_color);
    text-align: center;
}
.maxis9 .drinks h3{
    text-align:left;
}
.maxis9 .table_title{
    background-color: var(--maxis9_secondary_color);
}
.maxis9 .table_title{
    color: var(--maxis9_text_color);
}
.maxis9 li label input + .element .checkbox{
    border: 2px solid var(--maxis9_secondary_color);
}
li label input:checked + .element .checkbox{
    background-color: var(--maxis9_secondary_color);
}
.drinks{
    margin-top: 50px;
}
.table__drinks{
    margin-top: 40px;
    display: block;
    position: relative;
}
.table__drinks .table_meal_title{
    text-align:left;
    border-bottom: 2px solid var(--maxis9_secondary_color);
}
.table__drinks a{
    color: var(--maxis9_text_color);
    text-decoration: none;
}
.table__drinks a:hover{
    color: var(--maxis9_secondary_color);
}
@media only screen and (max-width: 900px){
    .meals_table, .meals_list .meals, .search_bar {
        min-width: 100%;
    }
    .ingredients {
        columns: 1;
    }
}
@media only screen and (max-width: 500px){
    .table_title{
        font-size: 1.5em;
    }
}